*{
	margin:0;
	padding:0;

}

html{
	background:none fixed no-repeat center wheat;

}
div{
	background:none fixed no-repeat center white;
	text-transform:capitalize;
	text-position:center;
	text-align:center;
	text-color:red;
	text-indent:40px;
	width:400px;
	margin:auto;
	
}





